$chat-width:                     320px;                // Ширина окна чата
$chat-header-height:             40px;                 // Высота кнопки раскрытия чата и заголовка чата
$chat-z-index:                   40;                   // z-index чата

$bg-main:                        #607D8B;              // Фон заголовка, кнопки раскрытия и кнопки 'Отправить'
$bg-body:                        #fafafa;              // Фон чата
$bg-org-message:                 #80CBC4;              // Фон приветственного сообщения и вх. сообщений
$bg-user-message:                #eee;                 // Фон сообщения пользователя

$color-main:                     #fff;                 // Цвет заголовка, кнопки раскрытия и кнопки 'Отправить'
$color-org-message:              #fff;                 // Цвет шрифта приветственного сообщения и вх. сообщений
$color-user-message:             #616161;              // Цвет шрифта сообщения пользователя
$color-message-time:             #999;                 // Цвет шрифта времени сообщений
$color-placeholder:              #bdbdbd;              // Цвет подсказок полей форм

$btn-send-height:                35px;                 // Высота кнопки 'Отправить'
$textarea-min-height:            60px;                 // Мин. высота поля ввода текста сообщения
$border-radius:                  3px;                  // Скругление углов элементов

// Вспомогательные значения. Используются для расчета высоты диалога чата на мобильных устройствах
$chat-body-top-padding:          30px;                 // Вертикальный отступ между заголовком чата и диалогом
$chat-body-bottom-padding:       15px;                 // Вертикальный отступ между кнопкой 'Отправить' и низом экрана
$dialog-margin-bottom:           20px;                 // Вертикальный отступ между диалогом и формой чата
